{% extends "AppBundle::base_layout.html.twig" %}

{% block content %}
	<div class="container-fluid">
		<div class="row content">
			<div class="col-md-10 col-md-offset-1 text-left">
				<div class="page-header">
					<h1>Digital Asset Platform</h1>
				</div>
				<p>A new digital asset platform will contain virtually all of the Folger Shakespeare Library’s public-facing digital assets. The platform will include texts in various formats, as well as images, videos, audio recordings, and databases (simple and relational). The platform also will contain robust bibliographic data that describes the assets. We plan to build visualization layers that will map the digital collection by showing a graphical representation of how many assets have particular attributes (source, medium, creation year, etc.), as well as provide access to the assets themselves (e.g., an image viewer). A taxonomy tailored to the Folger—ideally one that is written in conjunction with institutions that have similar holdings, and that leverages the power of linked open data and existing standards—will be essential to help users navigate the collection.</p>
			</div>
		</div>
	</div>
{% endblock %}